{% extends 'base.html' %}
{% block content %}
<div>
  <h1>Saved Reports</h1>
</div>
<div>

<ul>
  {% if zip %}
    {% for file in zip %}
      <li><a href="{{url_for('static', filename=file)}}" target="_blank">{{file}}</a></li>
    {% endfor %}
  {% else %}
    <li>No ZIP archive exists yet</li>
  {% endif %}

</ul>


<ul>
  {% if files %}
    {% for file in files %}
      <li><a href="{{url_for('static', filename='pdf/'+file)}}" target="_blank">{{file}}</a></li>
    {% endfor %}
  {% else %}
    <li>No pair reports exist yet</li>
  {% endif %}
</ul>
{% endblock content %}
