{% extends 'base.html' %}
{% block content %}
<div>
  <h1>{{selected_vip}}</h1>
  <a class="btn btn-info" href="{{url_for('pdf', vip=selected_vip)|safe}}">Generate PDF</a>
</div>

<div>
  <table class="table">
    <tr>
      <th>Metric</th>
      <th>Min</th>
      <th>Mean</th>
      <th>Max</th>
      <th>Total</th>
    </tr>
    {% for metric in summary %}
      <tr>
        <td>{{ metric }}</td>
        <td style="text-align:right">{{ summary[metric]['Min']|numberFormat }}</td>
        <td style="text-align:right">{{ summary[metric]['Average']|numberFormat }}</td>
        <td style="text-align:right">{{ summary[metric]['Max']|numberFormat }}</td>
        <td style="text-align:right">{{ summary[metric]['Total']|numberFormat }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
<hr/>
<div id='chart' class='chart'”></div>
<hr/>
<div id='chart2' class='chart'”></div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{fig1_json | safe}};
  Plotly.plot('chart',graphs,{});
  var graphs2 = {{fig2_json | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>


{% endblock content %}
