{% extends 'base.html' %}
{% block content %}
<div>
  <h1>Data Selection</h1>
</div>

  <div>
    <form action="{{url_for('clear_cache')}}" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="mb-3 col">
          <label for="start_date" class="form-label">Start Date (30 days ago if omitted)</label>
          <input type="date" class="form-control" id="start_date" name="start_date">
        </div>
        <div class="mb-3 col">
          <label for="end_date" class="form-label">End Date (Today if omitted)</label>
          <input type="date" class="form-control" id="end_date" name="end_date">
        </div>
      </div>
      <div class="mb-3 row">
        {% include 'inc/pair_select.html' %}
      </div>
      <div class="mb-3">
        <input type="submit" id="submit" value="Switch active pair and fetch data" />
      </div>
    </form>
  </div>

{% endblock content %}
