<div>
    <form onsubmit="return mysubmit();">
        <select name="vip" id="vip">
        {% for vip in session['vips'] %}
            {% if vip == selected_vip %}
                <option value="{{vip}}" selected>{{vip}}</option>
            {% else %}
                <option value="{{vip}}">{{vip}}</option>
            {% endif %}
        {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
    <script>
        function mysubmit(){
            location.href = $('#vip').val();
        }
    </script>
</div>


<div class="dropdown">
    <button class="btn btn-secondary my-btn-secondary dropdown-toggle" type="button" id="pairselect" data-bs-toggle="dropdown" aria-expanded="false">Select F5 Pair</button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% for pair in pairs %}
            <li><a class="drowdown-item" href="{{url_for('clear_cache', new_pair=pair)}}">{{pair}}:{{pairs[pair]}}</a></li>
        {% endfor %}
    </ul>
</div>
